body{
    background-color: black;
    text-align: center;
}
h1{
    font-family:Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
a{
    font-size: 16px;
    color: aquamarine;
}
section h1{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
section p{
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}
footer img{
    text-align: right;
    color: gray;
}